
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  height: 1rem;
}



.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1.5rem;                      /* space between tabs */
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: var(--lightblue);
}  